body {
  background-color: #eee;
}

.tab-list {
  display: flex;
  background-color: #eee;
  font-weight: bold;
  border-bottom: solid 2px #555;
}

.tab-list .tab-item {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #555555;
  transition: background-color 250ms ease,
  color 250ms ease;
  cursor: pointer;
  border-right: solid 2px #555;
}

.tab-list .tab-item:hover {
  background-color: #555555;
  color: #eee;
}

.tab-list .tab-item.crnt {
  background-color: #555555;
  color: #eee;
}

.janken-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px 0;
}

.janken-container .top-container,
.janken-container .bottom-container {
  text-align: center;
}

.janken-container .com-img {
  height: 200px;
}

.janken-container .janken-btn-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0 20px;
}

.janken-container .janken-btn-list .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.janken-container .janken-btn-list .img {
  height: 200px;
}

.janken-container .janken-btn-list.rock .item:nth-child(1) .img,
.janken-container .janken-btn-list.scissors .item:nth-child(2) .img,
.janken-container .janken-btn-list.paper .item:nth-child(3) .img {
  height: 200px;
}

.janken-container .janken-btn-list.rock .item:nth-child(2) .img,
.janken-container .janken-btn-list.rock .item:nth-child(3) .img,
.janken-container .janken-btn-list.scissors .item:nth-child(1) .img,
.janken-container .janken-btn-list.scissors .item:nth-child(3) .img,
.janken-container .janken-btn-list.paper .item:nth-child(1) .img,
.janken-container .janken-btn-list.paper .item:nth-child(2) .img {
  height: 120px;
}

.janken-container .janken-btn-list .img {
  height: 200px;
}

.janken-container .janken-btn-list .item .btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #555;
  cursor: pointer;
  color: #333;
  transition: background-color 250ms ease,
  color 250ms ease;
}

.janken-container .janken-btn-list.rock .item:nth-child(1) .btn,
.janken-container .janken-btn-list.scissors .item:nth-child(2) .btn,
.janken-container .janken-btn-list.paper .item:nth-child(3) .btn {
  background-color: #555;
  color: #eee;
}

.janken-container .janken-btn-list .item:hover .btn {
  background-color: #555;
  color: #eee;
}